<tr>
    <td id="tunapanel_status"></td>
</tr>
</table>
</div></div></div>

<script>
$(function () {
    let conversions = {
        none:     function (elem) { return elem.value; },
        number:   function (elem) { return Number(elem.value); },
        checkbox: function (elem) { return elem.checked; }
    };

    function update_complete(jqxhr, status) {
        let elem = $("#tunapanel_status");

        if (status === "success") {
            elem.attr("class", "label label-success");
            elem.text("Success");
        } else {
            elem.attr("class", "label label-danger");
            elem.text("Failure");
        }
    }

    function update(button_name) {
        let obj = {};

        $(".tunapanel_widget").each(function (i, elem) {
            let name = elem.getAttribute('tunapanel_name');
            let conv = elem.getAttribute('tunapanel_conv');

            let value = conversions[conv](elem);
            obj[name] = value;
        });

        $(".tunapanel_button").each(function (i, elem) {
            let name = elem.getAttribute('tunapanel_name');
            obj[name] = (button_name === name);
        });

        $.ajax({
            url:      "/update",
            method:   "POST",
            data:     JSON.stringify(obj),
            complete: update_complete,
            timeout:  5000,
        });
    }

    $(".tunapanel_widget")
        .change(update)
        .keyup(update);

    $(".tunapanel_button").each(function (i, elem) {
        let name = elem.getAttribute('tunapanel_name');
        $(elem).click(function () {
            update(name);
        });
    });
});
</script>

</body>
